{% extends 'base.html' %}
{% block title %}Cart{% endblock %}
{% load static %}
{% load custom_tags %}
{% block content %}
{% include 'navbar.html' %}

<section class="h-100 h-custom" style="background-color: #f0f0f0; height: 100vh;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <!-- <h6 class="mb-0 text-muted">{{listing|get_count}} items</h6> -->
                  </div>
                  {% for product in listing %}
                  <hr class="my-4">

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img src="{{product.product_name.image.url}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{product.product_name}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex product_1">
                      <button class="btn btn-link px-2 removebtn "
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                        data-product-id="{{product.product_name.slug_field}} remove" id="{{product.product_name.slug_field}}">
                        <i class="fas fa-minus"></i>
                      </button>

                      <input id="form1" min="1" name="quantity" value="{{product.get_total_quantity}}" type="number"
                        style="width:60px" class="form-control form-control-sm " readonly />

                      <button class="btn btn-link px-2 addbtn"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                        data-product-id="{{product.product_name.slug_field}} add" id="{{product.product_name.slug_field}}">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0 price">$ <span id="price-{{product.product_name.slug_field}}">{{product.price}}</span></h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="{% url 'remove_cart' slug=product.product_name.slug_field %}" class="text-muted"><i
                          class="fas fa-times"></i></a>
                    </div>
                  </div>

                  <hr class="my-4">
                  {% endfor %}
                  {% if not listing%}
                  <div>
                    <h1 class="text-muted">Cart Empty</h1>
                  </div>
                  {% endif %}
                  <div class="pt-5">
                    <h6 class="mb-0"><a href="{% url 'homepage' %}" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items </h5>
                    <h5>{{listing.count}}</h5>
                  </div>



                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5 id="total_price">$ <span>{{listing|get_total_price}}</span></h5>
                  </div>

                  <a href="{% url 'checkout' %}" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark" id="checkout" data-id="">Checkout</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var totalPrice = 0;
  
  $(document).ready(function () {
    $(".removebtn").click(function () {
      var slug_id  = $(this).attr('id')
      var ttprice = $('#total_price span').text()
      $.ajax({
        type: 'GET',
        url: "{% url 'update_quantity' %}",
        data: { 'data': $(this).data('product-id') },
        success: function (data) {
          console.log(data)
          $('#price-'+slug_id).html(data.data)
          var up_price = parseFloat(ttprice) - parseFloat(data.baseprice)
          console.log('remove price',up_price)
          $('#total_price span').text(up_price)

        }
      })
      console.log("$(this).data('product-id')", $(this).data('product-id'))
    });

    $(".addbtn").click(function () {
      var slug_id  = $(this).attr('id')
      var ttprice = $('#total_price span').text()
      $.ajax({
        type: 'GET',
        url: "{% url 'update_quantity' %}",
        data: { 'data': $(this).data('product-id') },
        success: function (data) {
          console.log(data)
          $('#price-'+slug_id).html(data.data)
          var down_price = parseFloat(ttprice) + parseFloat(data.baseprice)
          console.log('down price',down_price)
          $('#total_price span').text(down_price)
        }
      })
      console.log("$(this).data('product-id')", $(this).data('product-id'))
    })
    // const price = document.querySelectorAll('.price span').values()
    // console.log(price)
  })
</script>

{% endblock content %}